{
    "gui" : {
        "panefeature" : {
            "type" : "panefeature",
            "anchor" : "topRight",
            "offset" : [ -24, -47 ],
            "keyDismissable" : false,
            "positionLocked" : true
        },
        "background" : {
            "zlevel" : 0,
            "type" : "background",
            "fileBody" : "/quickbar/quickbar.png"
        },
        "scrollArea" : {
            "type" : "scrollArea",
            "rect" : [ 6, 4, 134, 202 ],
            "buttons" : {
              "horizontal" : {
                "forward" : { "base" : "", "hover" : "", "pressed" : "" },
                "backward" : { "base" : "", "hover": "", "pressed" : "" }
              },
              "vertical" : {
                "forward" : { "base" : "/assetmissing.png?scalenearest=0;0", "hover" : "", "pressed" : "" },
                "backward" : { "base" : "/assetmissing.png?scalenearest=0;0", "hover": "", "pressed" : "" }
              }
            },
            "thumbs" : {
              "horizontal" : {
                "base" : { "begin" : "", "end" : "", "inner" : "" },
                "hover" : { "begin" : "", "end" : "", "inner" : "" },
                "pressed" : { "begin" : "", "end" : "", "inner" : "" }
              },
              "vertical" : {
                "base" : {
                  "begin" : "/quickbar/scrollbar.png:2",
                  "end" : "/quickbar/scrollbar.png:0",
                  "inner" : "/quickbar/scrollbar.png:1"
                },
                "hover" : {
                  "begin" : "/quickbar/scrollbar.png:2",
                  "end" : "/quickbar/scrollbar.png:0",
                  "inner" : "/quickbar/scrollbar.png:1"
                },
                "pressed" : {
                  "begin" : "/quickbar/scrollbar.png:2",
                  "end" : "/quickbar/scrollbar.png:0",
                  "inner" : "/quickbar/scrollbar.png:1"
                }
              }
            },
            "children" : {
                "fullList" : {
                    "type" : "list",
                    "callback" : "selectIcon",
                    "schema" : {
                        "selectedBG" : "/quickbar/blankhover.png",
                        "hoverBG" : "/quickbar/blankhover.png",
                        "unselectedBG" : "/quickbar/blank.png",
                        "spacing" : [ 0, 0 ],
                        "memberSize" : [ 132, 20 ],
                        "listTemplate" : {
                            "background" : {
                                "type" : "image",
                                "file" : "/quickbar/blank.png",
                                "position" : [ 4, 0 ],
                                "zlevel" : -10
                            },
                            "label" : {
                                "type" : "label",
                                "position" : [26, 9],
                                "hAnchor" : "left",
                                "vAnchor" : "mid",
                                "lineSpacing" : 1.0,
                                "wrapWidth" : 116
                            },
                            "icon" : {
                                "type" : "image",
                                "position" : [ 5, 1 ],
                                "offset" : [ 0, 0 ]
                            }
                        }
                    }
                },
                "compactList" : {
                    "type" : "list",
                    "columns" : 6,
                    "callback" : "selectIcon",
                    "schema" : {
                        "selectedBG" : "/quickbar/blankhover.png",
                        "hoverBG" : "/quickbar/blankhover.png",
                        "unselectedBG" : "/quickbar/blank.png",
                        "spacing" : [ 0, 0 ],
                        "memberSize" : [ 20, 20 ],
                        "listTemplate" : {
                            "background" : {
                                "type" : "image",
                                "file" : "/quickbar/blank.png",
                                "position" : [ 0, 0 ],
                                "zlevel" : -10
                            },
                            "icon" : {
                                "type" : "image",
                                "position" : [ 1, 1 ],
                                "offset" : [ 0, 0 ]
                            }
                        }
                    }
                }
            }
        }
    },

    "scriptWidgetCallbacks" : [
      "selectIcon"
    ],

    "scripts" : [ "/quickbar/quickbar.lua" ],
    "scriptDelta" : 1
}