{
    "gui" : {
        "panefeature" : {
            "type" : "panefeature",
            "anchor" : "topRight",
            "offset" : [ -24, -47 ],
            "keyDismissable" : false,
            "positionLocked" : true
        },
        "background" : {
            "zlevel" : 0,
            "type" : "background",
            "fileBody" : "/interface/scripted/cf_unibar/cf_unibar.png"
        },
        "scrollArea" : {
            "type" : "scrollArea",
            "rect" : [ 4, 6, 128, 194 ],
            "children" : {
                "fullList" : {
                    "type" : "list",
                    "callback" : "selectItem",
                    "schema" : {
                        "selectedBG" : "/interface/scripted/cf_unibar/icons/blankhover.png",
                        "hoverBG" : "/interface/scripted/cf_unibar/icons/blankhover.png",
                        "unselectedBG" : "/interface/scripted/cf_unibar/icons/blank.png",
                        "spacing" : [ 0, 1 ],
                        "memberSize" : [ 107, 18 ],
                        "listTemplate" : {
                            "background" : {
                                "type" : "image",
                                "file" : "/interface/scripted/cf_unibar/icons/blank.png",
                                "position" : [ 0, 0 ],
                                "zlevel" : -10
                            },
                            "name" : {
                                "type" : "label",
                                "position" : [ 21, 11 ],
                                "hAnchor" : "left",
                                "vAnchor" : "mid",
                                "lineSpacing" : 1.0,
                                "wrapWidth" : 86
                            },
                            "icon" : {
                                "type" : "image",
                                "position" : [ 0, 0 ],
                                "offset" : [ 0, 0 ]
                            }
                        }
                    }
                },
                "compactList" : {
                    "type" : "list",
                    "columns" : 6,
                    "callback" : "selectItem",
                    "schema" : {
                        "selectedBG" : "/interface/scripted/cf_unibar/icons/blankhover.png",
                        "hoverBG" : "/interface/scripted/cf_unibar/icons/blankhover.png",
                        "unselectedBG" : "/interface/scripted/cf_unibar/icons/blank.png",
                        "spacing" : [ 1, 1 ],
                        "memberSize" : [ 18, 18 ],
                        "listTemplate" : {
                            "background" : {
                                "type" : "image",
                                "file" : "/interface/scripted/cf_unibar/icons/blank.png",
                                "position" : [ 0, 0 ],
                                "zlevel" : -10
                            },
                            "icon" : {
                                "type" : "image",
                                "position" : [ 0, 0 ],
                                "offset" : [ 0, 0 ]
                            }
                        }
                    }
                }
            }
        }
    },

    "scriptWidgetCallbacks" : [ "selectItem" ],

    "scripts" : [ "/interface/scripted/cf_unibar/cf_unibar.lua", "/interface/scripted/cf_unibar/quickbarprepatcher.lua" ],
    "scriptDelta" : 1
}