{
  "chatterSound" : "/sfx/interface/aichatter1_loop.ogg",

  "gui" : {
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [231, 211]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "S.A.I.L.",
      "subtitle" : "Ship-based Artificial Intelligence Lattice",
      "position" : [0, 254],
      "icon" : {
        "type" : "image",
        "file" : "/interface/ai/AIicon.png",
        "position" : [0, -20],
        "zlevel" : -1
      }
    },
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/ai/header.png",
      "fileBody" : "/interface/ai/body.png",
      "fileFooter" : "/interface/ai/footer.png"
    },

    "backButton" : {
      "zlevel" : 1,
      "type" : "button",
      "base" : "/interface/ai/leftmenuup.png",
      "hover" : "/interface/ai/leftmenuhover.png",
      "pressed" : "/interface/ai/leftmenudown.png",
      "position" : [10, 76],
      "pressedOffset" : [0, 0],
      "caption" : "BACK",

      "callback" : "goBack"
    },
    "showMissions" : {
      "zlevel" : 1,
      "type" : "button",
      "base" : "/interface/ai/leftmenuup.png",
      "hover" : "/interface/ai/leftmenuhover.png",
      "pressed" : "/interface/ai/leftmenudown.png",
      "position" : [10, 76],
      "pressedOffset" : [0, 0],
      "caption" : "MISSIONS",

      "callback" : "showMissions"
    },
    "showPrimaryMissions" : {
      "zlevel" : 1,
      "type" : "button",
      "base" : "/interface/ai/leftmenuup.png",
      "hover" : "/interface/ai/leftmenuhover.png",
      "pressed" : "/interface/ai/leftmenudown.png",
      "position" : [10, 60],
      "pressedOffset" : [0, 0],
      "caption" : "PRIMARY",

      "callback" : "showPrimaryMissions"
    },
    "showSecondaryMissions" : {
      "zlevel" : 1,
      "type" : "button",
      "base" : "/interface/ai/leftmenuup.png",
      "hover" : "/interface/ai/leftmenuhover.png",
      "pressed" : "/interface/ai/leftmenudown.png",
      "position" : [10, 44],
      "pressedOffset" : [0, 0],
      "caption" : "SECONDARY",

      "callback" : "showSecondaryMissions"
    },
    "showCrew" : {
      "zlevel" : 1,
      "type" : "button",
      "base" : "/interface/ai/leftmenuup.png",
      "hover" : "/interface/ai/leftmenuhover.png",
      "pressed" : "/interface/ai/leftmenudown.png",
      "position" : [10, 60],
      "pressedOffset" : [0, 0],
      "caption" : "CREW",

      "callback" : "showCrew"
    },
    "showMisc" : {
      "zlevel" : 1,
      "type" : "button",
      "base" : "/interface/ai/leftmenuup.png",
      "hover" : "/interface/ai/leftmenuhover.png",
      "pressed" : "/interface/ai/leftmenudown.png",
      "position" : [10, 44],
      "pressedOffset" : [0, 0],
      "caption" : "MISC",

      "callback" : "showMisc"
    },

    "aiFaceCanvas" : {
      "zlevel" : 1,
      "type" : "canvas",
      "rect" : [7, 105, 97, 199]
    },

    "mainStack" : {
      "type" : "stack",
      "rect" : [110, 42, 238, 188],
      "stack" : [
        {
          "aiStatusRect" : {
            "zlevel" : 3,
            "type" : "layout",
            "layoutType" : "basic",
            "rect" : [8, 8, 128, 143],
            "children" : {
              "shipStatusText" : {
                "type" : "label",
                "color" : [174, 225, 238, 255],
                "hAnchor" : "left",
                "vAnchor" : "top",
                "position" : [0, 135],
                "wrapWidth" : 118,
                "lineSpacing" : 1.0
              }
            }
          }
        },
        {
          "missionStack" : {
            "type" : "stack",
            "stack" : [
              {
                "scrollArea" : {
                  "type" : "scrollArea",
                  "rect" : [0, 3, 128, 145],
                  "children" : {
                    "missionItemList" : {
                      "type" : "list",
                      "schema" : {
                        "selectedBG" : "/interface/ai/listitemscrollselected.png",
                        "hoverBG" : "/interface/ai/listitemscrollhover.png",
                        "unselectedBG" : "/interface/ai/listitemscroll.png",
                        "spacing" : [0, 1],
                        "memberSize" : [127, 20],
                        "listTemplate" : {
                          "background" : {
                            "type" : "image",
                            "file" : "/interface/ai/listitemscroll.png",
                            "position" : [1, 0],
                            "zlevel" : -1
                          },
                          "itemName" : {
                            "type" : "label",
                            "position" : [21, 10],
                            "hAnchor" : "left",
                            "vAnchor" : "mid",
                            "lineSpacing" : 1.0,
                            "wrapWidth" : 95
                          },
                          "itemIcon" : {
                            "type" : "image",
                            "position" : [4, 3]
                          }
                        }
                      }
                    }
                  }
                }
              },
              {
                "background" : {
                  "type" : "image",
                  "position" : [0, 126],
                  "file" : "/interface/ai/listitemselected.png"
                },
                "missionIcon" : {
                  "type" : "image",
                  "position" : [3, 129]
                },
                "missionName" : {
                  "type" : "label",
                  "position" : [21, 136],
                  "hAnchor" : "left",
                  "vAnchor" : "mid",
                  "value" : "mission name",
                  "lineSpacing" : 1.0,
                  "wrapWidth" : 100
                },
                "missionText" : {
                  "type" : "label",
                  "position" : [2, 123],
                  "vAnchor" : "top",
                  "hAnchor" : "left",
                  "value" : "mission text",
                  "wrapWidth" : 124
                },
                "startMission" : {
                  "type" : "button",
                  "base" : "/interface/ai/deployup.png",
                  "hover" : "/interface/ai/deployover.png",
                  "pressed" : "/interface/ai/deploydown.png",
                  "position" : [0, 2],
                  "pressedOffset" : [0, 0],
                  "caption" : "DEPLOY"
                }
              }
            ]
          }
        },
        {
          "crewStack" : {
            "type" : "stack",
            "stack" : [
              {
                "scrollArea" : {
                  "type" : "scrollArea",
                  "rect" : [0, 3, 128, 145],
                  "children" : {
                    "crewItemList" : {
                      "type" : "list",
                      "schema" : {
                        "selectedBG" : "/interface/ai/listitemscrollselected.png",
                        "hoverBG" : "/interface/ai/listitemscrollhover.png",
                        "unselectedBG" : "/interface/ai/listitemscroll.png",
                        "spacing" : [0, 1],
                        "memberSize" : [127, 20],
                        "listTemplate" : {
                          "background" : {
                            "type" : "image",
                            "file" : "/interface/ai/listitemscroll.png",
                            "position" : [1, 0],
                            "zlevel" : -1
                          },
                          "itemName" : {
                            "type" : "label",
                            "position" : [21, 10],
                            "hAnchor" : "left",
                            "vAnchor" : "mid",
                            "lineSpacing" : 1.0,
                            "wrapWidth" : 100
                          },
                          "itemIcon" : {
                            "type" : "image",
                            "position" : [4, 3],
                            "offset" : [12, 4]
                          }
                        }
                      }
                    }
                  }
                }
              },
              {
                "background" : {
                  "type" : "image",
                  "position" : [0, 126],
                  "file" : "/interface/ai/listitemselected.png"
                },
                "recruitIcon" : {
                  "type" : "image",
                  "position" : [4, 129],
                  "offset" : [12, 4]
                },
                "recruitName" : {
                  "type" : "label",
                  "position" : [21, 136],
                  "hAnchor" : "left",
                  "vAnchor" : "mid",
                  "value" : "recruit name",
                  "lineSpacing" : 1.0,
                  "wrapWidth" : 100
                },
                "recruitText" : {
                  "type" : "label",
                  "position" : [2, 123],
                  "vAnchor" : "top",
                  "hAnchor" : "left",
                  "value" : "recruit description",
                  "wrapWidth" : 124
                },
                "dismissRecruit" : {
                  "type" : "button",
                  "base" : "/interface/ai/dismissup.png",
                  "hover" : "/interface/ai/dismissover.png",
                  "pressed" : "/interface/ai/dismissdown.png",
                  "position" : [0, 2],
                  "pressedOffset" : [0, 0],
                  "caption" : "DISMISS"
                }
              }
            ]
          }
        },
        {
          "miscStack" : {
            "type" : "stack",
            "stack" : [
              {
                "scrollArea" : {
                  "type" : "scrollArea",
                  "rect" : [0, 3, 128, 145],
                  "children" : {
                    "miscItemList" : {
                      "type" : "list",
                      "schema" : {
                        "selectedBG" : "/interface/ai/listitemscrollselected.png",
                        "hoverBG" : "/interface/ai/listitemscrollhover.png",
                        "unselectedBG" : "/interface/ai/listitemscroll.png",
                        "spacing" : [0, 1],
                        "memberSize" : [127, 20],
                        "listTemplate" : {
                          "background" : {
                            "type" : "image",
                            "file" : "/interface/ai/listitemscroll.png",
                            "position" : [1, 0],
                            "zlevel" : -1
                          },
                          "itemName" : {
                            "type" : "label",
                            "position" : [21, 10],
                            "hAnchor" : "left",
                            "vAnchor" : "mid",
                            "lineSpacing" : 1.0,
                            "wrapWidth" : 100
                          },
                          "itemIcon" : {
                            "type" : "image",
                            "position" : [4, 3],
                            "offset" : [12, 4]
                          }
                        }
                      }
                    }
                  }
                }
              }
            ]
          }
        }
      ]
    }
  },

  "aiConfig" : {
    "text" : {

    },
    "missions" : {
      "primary" : [
        { "path" : "/ai/missionhuman1.aimission", "quest" : "human_mission1" }
      ],
      "secondary" : [

      ]
    },
    "misc" : [

    ]
  },

	"scriptWidgetCallbacks" : [ "goBack", "showMissions", "showPrimaryMissions", "showSecondaryMissions", "showCrew", "showMisc", "startMission", "dismissRecruit" ],
	
	"scripts" : ["/interface/ai/cf_ai.lua"],
	"scriptDelta" : 1
}