{
    "gui" : {
        "panefeature" : {
            "type" : "panefeature",
            "anchor" : "topRight",
            "offset" : [ -26, -65 ],
            "keyDismissable" : false,
            "positionLocked" : true
        },
        "background" : {
            "zlevel" : 0,
            "type" : "background",
            "fileBody" : "/interface/scripted/collections/body.png"
        },
        "scrollArea" : {
            "type" : "scrollArea",
            "rect" : [ 6, 6, 126, 194 ],
            "children" : {
                "fullList" : {
                    "type" : "list",
                    "callback" : "selectItem",
                    "schema" : {
                        "selectedBG" : "/interface/scripted/collections/icons/blankhover.png",
                        "hoverBG" : "/interface/scripted/collections/icons/blankhover.png",
                        "unselectedBG" : "/interface/scripted/collections/icons/blank.png",
                        "spacing" : [ 0, 1 ],
                        "memberSize" : [ 107, 18 ],
                        "listTemplate" : {
                            "background" : {
                                "type" : "image",
                                "file" : "/interface/scripted/collections/icons/blank.png",
                                "position" : [ 0, 0 ],
                                "zlevel" : -10
                            },
                            "name" : {
                                "type" : "label",
                                "position" : [ 21, 11 ],
                                "hAnchor" : "left",
                                "vAnchor" : "mid",
                                "lineSpacing" : 1.0,
                                "wrapWidth" : 86
                            },
                            "icon" : {
                                "type" : "image",
                                "position" : [ 0, 0 ],
                                "offset" : [ 0, 0 ]
                            }
                        }
                    }
                },
                "compactList" : {
                    "type" : "list",
                    "columns" : 5,
                    "callback" : "selectItem",
                    "schema" : {
                        "selectedBG" : "/interface/scripted/collections/icons/blankhover.png",
                        "hoverBG" : "/interface/scripted/collections/icons/blankhover.png",
                        "unselectedBG" : "/interface/scripted/collections/icons/blank.png",
                        "spacing" : [ 1, 1 ],
                        "memberSize" : [ 18, 18 ],
                        "listTemplate" : {
                            "background" : {
                                "type" : "image",
                                "file" : "/interface/scripted/collections/icons/blank.png",
                                "position" : [ 0, 0 ],
                                "zlevel" : -10
                            },
                            "icon" : {
                                "type" : "image",
                                "position" : [ 0, 0 ],
                                "offset" : [ 0, 0 ]
                            }
                        }
                    }
                }
            }
        }
    },

    "listConfig" : [
        {
            "name" : "Change Mode",
            "icon" : "icons/changemode.png",
            "action" : [ "/scripts/functions/cf_changemode.lua", "changeListMode" ]
        },
        {
            "name" : "SAIL",
            "icon" : "icons/sail.png",
            "condition" : [ "/scripts/functions/cf_basicfunctions.lua", "isOnShip" ],
            "action" : [ "/scripts/functions/cf_basicfunctions.lua", "openSail" ]
        },
        {
            "name" : "Navigation",
            "icon" : "icons/navigation.png",
            "condition" : [ "/scripts/functions/cf_basicfunctions.lua", "isOnShip" ],
            "action" : [ "/scripts/functions/cf_basicfunctions.lua", "openInterface", "/interface/cockpit/cockpit.config" ]
        },
        {
            "name" : "Tech Upgrades",
            "icon" : "icons/techupgrade.png",
            "condition" : [ "/scripts/functions/cf_basicfunctions.lua", "isAdmin" ],
            "action" : [ "/scripts/functions/cf_basicfunctions.lua", "openInterface", "/interface/scripted/techupgrade/techupgradegui.config" ]
        },
        {
            "name" : "Mech Assembly",
            "icon" : "icons/mechupgrade.png",
            "condition" : [ "/scripts/functions/cf_basicfunctions.lua", "isAdmin" ],
            "action" : [ "/scripts/functions/cf_basicfunctions.lua", "openInterface", "/interface/scripted/mechassembly/mechassemblygui.config" ]
        },
        {
            "name" : "Collections",
            "icon" : "icons/collections.png",
            "action" : [ "/scripts/functions/cf_basicfunctions.lua", "openInterface", "/interface/scripted/cf_collections/cf_collections.config" ]
        },
        {
            "name" : "Codex",
            "icon" : "icons/codex.png",
            "action" : [ "/scripts/functions/cf_basicfunctions.lua", "openInterface", "/interface/scripted/cf_codex/cf_codex.config" ]
        },
        {
            "name" : "Matter Manipulator",
            "icon" : "icons/mmupgrade.png",
            "action" : [ "/scripts/functions/cf_basicfunctions.lua", "openInterface", "/interface/scripted/mmupgrade/mmupgradegui.config" ]
        }
    ],

    "scriptWidgetCallbacks" : [ "selectItem" ],

    "scripts" : [ "/interface/scripted/collections/collectionsgui.lua" ],
    "scriptDelta" : 1
}