{
    "gui" : {
        "close" : {
            "type" : "button",
            "base" : "/interface/x.png",
            "hover" : "/interface/xhover.png",
            "pressed" : "/interface/xpress.png",
            "pressedOffset" : [0, 0],
            "position" : [375, 326]
        },
        "windowtitle" : {
            "type" : "title",
            "title" : "Codex Library",
            "subtitle" : "Books found on your travels",
            "position" : [0, 254],
            "icon" : {
                "type" : "image",
                "file" : "/interface/codex/iconBook.png",
                "position" : [0, -20],
                "zlevel" : -1
            }
        },
        "background" : {
            "type" : "background",
            "fileHeader" : "/interface/scripted/cf_codex/header.png",
            "fileBody" : "/interface/scripted/cf_codex/body.png",
            "fileFooter" : "/interface/scripted/cf_codex/footer.png"
        },
        "scrollBG" : {
            "type" : "image",
            "file" : "/interface/scripted/cf_codex/scroll_bg.png",
            "position" : [3, 25],
            "zlevel" : -5
        },
        "scrollAreaTabs" : {
            "type" : "scrollArea",
            "rect" : [9, 34, 41, 302],
            "children" : {
                "collectionTabList" : {
                    "type" : "list",
                    "callback" : "selectCollection",
                    "position" : [0, 0],
                    "columns" : 1,
                    "fillDown" : true,
                    "schema" : {
                        "spacing" : [0, 2],
                        "memberSize" : [21, 20],
                        "listTemplate" : {
                            "icon" : {
                                "type" : "image",
                                "file" : "",
                                "position" : [0, 0],
                                "size" : [21, 20]
                            }
                        }
                    }
                }
            }
        },
        "scrollArea" : {
            "type" : "scrollArea",
            "rect" : [44, 34, 216, 302],
            "children" : {
                "bookList" : {
                    "type" : "list",
                    "callback" : "selectCodex",
                    "position" : [1, -1],
                    "schema" : {
                        "selectedBG" : "/interface/codex/booktitle_selected.png",
                        "unselectedBG" : "/interface/codex/booktitle_bg.png",
                        "spacing" : [0, 0],
                        "memberSize" : [162, 20],
                        "listTemplate" : {
                            "background" : {
                                "type" : "image",
                                "file" : "/interface/codex/booktitle_bg.png",
                                "position" : [0, 0],
                                "zlevel" : -1
                            },
                            "icon" : {
                                "type" : "image",
                                "file" : "",
                                "position" : [2, 2],
                                "zlevel" : 1
                            },
                            "name" : {
                                "type" : "label",
                                "position" : [22, 10],
                                "hAnchor" : "left",
                                "vAnchor" : "mid",
                                "wrapWidth" : 140,
                                "value" : ""
                            }
                        }
                    }
                }
            }
        },
        "pageText" : {
            "type" : "label",
            "position" : [215, 202],
            "hAnchor" : "left",
            "vAnchor" : "top",
            "wrapWidth" : 160,
            "value" : "Example Value"
        },
        "pageNum" : {
            "type" : "label",
            "position" : [298, 26],
            "hAnchor" : "mid",
            "value" : "0 of 0"
        },
        "pageLabel" : {
            "type" : "label",
            "position" : [298, 35],
            "hAnchor" : "mid",
            "value" : "Page"
        },
        "prevButton" : {
            "type" : "button",
            "caption" : "< Previous",
            "base" : "/interface/codex/readSelected.png",
            "hover" : "/interface/codex/readSelected-hover.png",
            "position" : [215, 28],
            "callback" : "prevPage"
        },
        "nextButton" : {
            "type" : "button",
            "caption" : "Next >",
            "textAlign" : "center",
            "base" : "/interface/codex/readSelected.png",
            "hover" : "/interface/codex/readSelected-hover.png",
            "position" : [327, 28],
            "callback" : "nextPage"
        }
    },
    
    "scriptWidgetCallbacks" : [
        "prevButton",
        "nextButton"
    ],
}