[
  {
      "name" : "Change Mode",
      "icon" : "/interface/scripted/cf_unibar/icons/changemode.png",
      "weight" : 9999,
      "action" : [ "/interface/scripted/cf_unibar/functions/cf_changemode.lua", "changeListMode" ]
  },
  {
      "name" : "SAIL",
      "icon" : "/interface/scripted/cf_unibar/icons/sail.png",
      "condition" : [ "/interface/scripted/cf_unibar/functions/cf_basicfunctions.lua", "isOnShip" ],
      "action" : [ "/interface/scripted/cf_unibar/functions/cf_basicfunctions.lua", "openSail" ]
  },
  {
      "name" : "Navigation",
      "icon" : "/interface/scripted/cf_unibar/icons/navigation.png",
      "condition" : [ "/interface/scripted/cf_unibar/functions/cf_basicfunctions.lua", "isOnShip" ],
      "action" : [ "/interface/scripted/cf_unibar/functions/cf_basicfunctions.lua", "openInterface", "/interface/cockpit/cockpit.config" ]
  },
  {
      "name" : "Tech Upgrades",
      "icon" : "/interface/scripted/cf_unibar/icons/techupgrade.png",
      "condition" : [ "/interface/scripted/cf_unibar/functions/cf_basicfunctions.lua", "isAdmin" ],
      "action" : [ "/interface/scripted/cf_unibar/functions/cf_basicfunctions.lua", "openInterface", "/interface/scripted/techupgrade/techupgradegui.config" ]
  },
  {
      "name" : "Mech Assembly",
      "icon" : "/interface/scripted/cf_unibar/icons/mechupgrade.png",
      "condition" : [ "/interface/scripted/cf_unibar/functions/cf_basicfunctions.lua", "isAdmin" ],
      "action" : [ "/interface/scripted/cf_unibar/functions/cf_basicfunctions.lua", "openInterface", "/interface/scripted/mechassembly/mechassemblygui.config" ]
  },
  {
      "name" : "Matter Manipulator",
      "icon" : "/interface/scripted/cf_unibar/icons/mmupgrade.png",
      "action" : [ "/scrinterface/scripted/cf_unibaripts/functions/cf_basicfunctions.lua", "openInterface", "/interface/scripted/mmupgrade/mmupgradegui.original.config" ]
  }
]