{
  "gui" : {
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [242, 231]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "Unipad",
      "subtitle" : "Multiple interfaces at the press of a button",
      "position" : [0, 254],
      "icon" : {
        "type" : "image",
        "file" : "/interface/scripted/cf_unipad/unipadicon.png",
        "position" : [0, -20],
        "zlevel" : -1
      }
    },
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/scripted/cf_unipad/header.png",
      "fileBody" : "/interface/scripted/cf_unipad/body.png",
      "fileFooter" : "/interface/scripted/cf_unipad/footer.png"
    },

    "listModeTabs" : {
      "type" : "radioGroup",
      "callback" : "changeListMode",
      "toggleMode" : false,
      "buttons" : [
        {
          "selected" : true,
          "position" : [4, 197],
          "baseImage" : "/interface/scripted/cf_unipad/tableft.png",
          "baseImageChecked" : "/interface/scripted/cf_unipad/tableftselected.png",
          "pressedOffset" : [0, 0],
          "data" : "full"
        },
        {
          "selected" : false,
          "position" : [58, 197],
          "baseImage" : "/interface/scripted/cf_unipad/tabright.png",
          "baseImageChecked" : "/interface/scripted/cf_unipad/tabrightselected.png",
          "pressedOffset" : [0, 0],
          "data" : "compact"
        }
      ]
    },
    "fullModeCaption" : {
      "type" : "label",
      "position" : [23, 210],
      "hAnchor" : "left",
      "vAnchor" : "mid",
      "value" : "FULL",
      
      "data" : "full"
    },
    "compactModeCaption" : {
      "type" : "label",
      "position" : [68, 210],
      "hAnchor" : "left",
      "vAnchor" : "mid",
      "value" : "COMPACT",

      "data" : "compact"
    },

    "scrollArea" : {
      "type" : "scrollArea",
      "rect" : [12, 45, 106, 196],
      "children" : {
        "fullList" : {
          "type" : "list",
          "callback" : "selectItem",
          "schema" : {
            "selectedBG" : "/interface/scripted/cf_unipad/listitemselected.png",
            "hoverBG" : "/interface/scripted/cf_unipad/listitemhover.png",
            "unselectedBG" : "/interface/scripted/cf_unipad/listitem.png",
            "spacing" : [0, 1],
            "memberSize" : [83, 20],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/scripted/cf_unipad/listitem.png",
                "position" : [0, 0],
                "zlevel" : -10
              },
              "name" : {
                "type" : "label",
                "position" : [20, 10],
                "hAnchor" : "left",
                "vAnchor" : "mid",
                "lineSpacing" : 1.0,
                "wrapWidth" : 61
              },
              "icon" : {
                "type" : "image",
                "position" : [3, 3],
                "offset" : [0, 0]
              }
            }
          }
        },
        "compactList" : {
          "type" : "list",
          "columns" : 4,
          "callback" : "selectItem",
          "schema" : {
            "selectedBG" : "/interface/scripted/cf_unipad/listitemsmallselected.png",
            "hoverBG" : "/interface/scripted/cf_unipad/listitemsmallhover.png",
            "unselectedBG" : "/interface/scripted/cf_unipad/listitemsmall.png",
            "spacing" : [1, 1],
            "memberSize" : [20, 20],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/scripted/cf_unipad/listitem.png",
                "position" : [0, 0],
                "zlevel" : -10
              },
              "icon" : {
                "type" : "image",
                "position" : [3, 3],
                "offset" : [0, 0]
              }
            }
          }
        }
      }
    },
    "textScrollArea" : {
      "type" : "scrollArea",
      "rect" : [124, 45, 249, 215],
      "children" : {
        "text" : {
          "type" : "label",
          "position" : [0, 212],
          "hAnchor" : "left",
          "vAnchor" : "top",
          "value" : "This is an example value designed to be long enough as to wrap around, to demonstrate to the developer (JamesTheMaker) if his configuration is correct and serviceable for normal gameplay. If you see this value, that means something is wrong and you should report this bug (along with a log!) to JamesTheMaker in the respective channels, likely designated in the description of the mod (Community Framework).\n\nThis paragraph of the example value is designed to demonstrate to JamesTheMaker, the aforementioned developer, if the widget this text widge is a child of (a scrollable area) is in fact functioning and allows the user (you!) to scroll vertically, as to see the full text assigned to this widget. Once again, if you see this example value, that means that Community Framework is not functioning correctly and you should report this issue in the aforementioned proper channels.",
          "lineSpacing" : 1.0,
          "wrapWidth" : 115
        }
      }
    }
  },

  "listConfig" : [
    {
      "name" : "SAIL",
      "icon" : "/interface/scripted/cf_unipad/sailicon.png",
      "condition" : [ "/interface/scripted/cf_unipad/functions/cf_basicfunctions.lua", "isOnShip" ],
      "action" : [ "/interface/scripted/cf_unipad/functions/cf_basicfunctions.lua", "openSail" ]
    },
    {
      "name" : "Navigation",
      "icon" : "/interface/scripted/cf_unipad/navicon.png",
      "condition" : [ "/interface/scripted/cf_unipad/functions/cf_basicfunctions.lua", "isOnShip" ],
      "action" : [ "/interface/scripted/cf_unipad/functions/cf_basicfunctions.lua", "openInterface", "/interface/cockpit/cockpit.config" ]
    },
    {
      "name" : "Tech Upgrades",
      "icon" : "/interface/scripted/cf_unipad/techupgradeicon.png",
      "condition" : [ "/interface/scripted/cf_unipad/functions/cf_basicfunctions.lua", "isAdmin" ],
      "action" : [ "/interface/scripted/cf_unipad/functions/cf_basicfunctions.lua", "openInterface", "/interface/scripted/techupgrade/techupgradegui.config" ]
    },
    {
      "name" : "Mech Assembly",
      "icon" : "/interface/scripted/cf_unipad/mechicon.png",
      "condition" : [ "/interface/scripted/cf_unipad/functions/cf_basicfunctions.lua", "isAdmin" ],
      "action" : [ "/interface/scripted/cf_unipad/functions/cf_basicfunctions.lua", "openInterface", "/interface/scripted/mechassembly/mechassemblygui.config" ]
    }
  ],

  "scriptWidgetCallbacks" : ["changeListMode", "selectItem"],

  "scripts" : ["/interface/scripted/cf_unipad/cf_unipad.lua"],
  "scriptDelta" : 1
}