{
  "gui" : {
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [231, 231]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "S.A.I.L.",
      "subtitle" : "Ship-based Artificial Intelligence Lattice",
      "position" : [0, 254],
      "icon" : {
        "type" : "image",
        "file" : "/interface/ai/AIicon.png",
        "position" : [0, -20],
        "zlevel" : -1
      }
    },
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/scripted/cf_unipad/header.png",
      "fileBody" : "/interface/scripted/cf_unipad/body.png",
      "fileFooter" : "/interface/scripted/cf_unipad/footer.png"
    }
  }
}